click==8.2.1
einops==0.8.2
ftfy==6.3.1
huggingface_hub==0.36.2
librosa==0.9.2
matplotlib==3.10.7
numpy==1.23.5
pandas==2.3.3
phonemizer==3.4.0
Pillow==12.2.0
progressbar2==4.6.0
pyyaml==6.0.3
regex==2026.4.4
scikit-learn==1.7.2
scipy==1.15.3
soundfile==0.14.0
timm==0.9.16
torch==2.7.1
torchaudio==2.7.1
torchlibrosa==0.1.0
torchvision==0.22.1
transformers==4.30.2
tqdm==4.67.3
unidecode==1.4.0
